{% extends "base.html" %}

{% block title %}Contact | NGF Knowledge Hub{% endblock %}

{% block content %}

<section class="contact-page">

  <div class="contact-container">

    <h1 class="page-title">📬 Contact Us</h1>

    <div class="contact-grid">

      <!-- INFO -->
      <div class="card info-card">
        <h2>Get in Touch</h2>

        <p><strong>👤 Name:</strong><h2>Rahul Vashisth</h2></p> and <p><h2>Utkarsh Mishra</h2></p>
        <p><strong>📧 Email:</strong> rahulvashistha97@gmail.com</p>
        <p><strong>📞 Phone:</strong> +91 7056212054</p>
        <p><strong>📍 Location:</strong> Haryana, India</p>
      </div>

        <div class="contact-actions">
          <a href="mailto:rahulvashistha97@gmail.com" class="contact-btn">Email</a>
          <a href="tel:+917056212054" class="contact-btn">Call</a>
        </div>

    </div>

  </div>

</section>

{% endblock %}